@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --stroke-color-light-mode: oklch(0% 0 0 / 0.5);
  --surface-color-light-mode: oklch(0% 0 0 / 0.05);
  --surface-color-light-mode-hover: oklch(0% 0 0 / 0.02);
  --highlight-color-light-mode: oklch(0% 0 0 / 0.1);

  --stroke: var(--stroke-color-light-mode);
  --surface: var(--surface-color-light-mode);
  --surface-hover: var(--surface-color-light-mode-hover);
  --highlight: var(--highlight-color-light-mode);
}

@media (prefers-color-scheme: dark) {
  :root {
    --stroke-color-dark-mode: oklch(100% 0.00011 271.152 / 0.5);
    --surface-color-dark-mode: oklch(100% 0.00011 271.152 / 0.1);
    --surface-color-dark-mode-hover: oklch(100% 0.00011 271.152 / 0.05);
    --highlight-color-dark-mode: oklch(100% 0.00011 271.152 / 0.2);

    --stroke: var(--stroke-color-dark-mode);
    --surface: var(--surface-color-dark-mode);
    --surface-hover: var(--surface-color-dark-mode-hover);
    --highlight: var(--highlight-color-dark-mode);
  }
}

.dark {
  --stroke-color-dark-mode: oklch(100% 0.00011 271.152 / 0.5);
  --surface-color-dark-mode: oklch(100% 0.00011 271.152 / 0.1);
  --surface-color-dark-mode-hover: oklch(100% 0.00011 271.152 / 0.05);
  --highlight-color-dark-mode: oklch(100% 0.00011 271.152 / 0.2);

  --stroke: var(--stroke-color-dark-mode);
  --surface: var(--surface-color-dark-mode);
  --surface-hover: var(--surface-color-dark-mode-hover);
  --highlight: var(--highlight-color-dark-mode);
}

@theme inline {
  --color-stroke: var(--stroke);
  --color-surface: var(--surface);
  --color-surface-hover: var(--surface-hover);
  --color-highlight: var(--highlight);
}
